<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.idiosoul.fair.order.dao.CartMapper">

    <resultMap id="shoppingCartResultMap" type="xyz.idiosoul.fair.order.vo.ShoppingGroupOfShopVO">
        <result property="shopId" column="shop_id"/>
        <result property="shopName" column="shop_name"/>
        <collection property="shoppingItems" ofType="xyz.idiosoul.fair.order.vo.ShoppingItemVO">
            <id property="itemId" column="item_id"/>
            <result property="productId" column="product_id"/>
            <result property="productName" column="product_name"/>
            <result property="productImage" column="product_image"/>
            <result property="specificationId" column="specification_id"/>
            <result property="specificationName" column="specification_name"/>
            <result property="specificationValue" column="specification_value"/>
            <result property="unitPrice" column="unit_price"/>
            <result property="quantity" column="quantity"/>
        </collection>
    </resultMap>


    <select id="getShoppingCartByBuyerIdAndDataSpace" resultType="xyz.idiosoul.fair.order.vo.ShoppingItemVO">
        SELECT oi.id AS item_id, oi.sku_id, oi.quantity
        FROM cart c, cart_item oi
        WHERE c.id = oi.cart_id AND c.is_deleted = 0 AND oi.is_deleted = 0 AND c.customer_id = #{customerId}
        ORDER BY GREATEST(oi.modify_time,oi.create_time) DESC
    </select>

    <select id="getShoppingCartByBuyerItemIds" resultMap="shoppingCartResultMap">
        SELECT oh.seller_id AS shop_id, oh.seller_name AS shop_name, oi.id as item_id, product_id, product_name,
        sku_id AS specification_id, specification_name, specification_value,quantity,product_image,unit_price
        FROM shopping_item oi
        LEFT JOIN shopping_group oh ON oi.is_deleted = 0 AND oh.is_deleted = 0 AND oi.order_id = oh.id
        WHERE oi.id IN
        <foreach item="itemId" collection="itemIds" separator="," open="(" close=")">
            #{itemId}
        </foreach>

    </select>


</mapper>